<div class="rewall_fn_sidebar" data-max="800" data-min="350">

  <!-- Sidebar: Close Button -->
  <a href="#" class="nav__button">
    <span class="icon"><img src="assets/svg/right-arrow.svg" alt="" class="fn__svg" /></span>
    <span class="width_indicator"></span>
  </a>
  <!-- /Sidebar: Close Button -->

  <!-- Sidebar: Line -->
  <div class="nav_line"></div>
  <!-- /Sidebar: Line -->

  <!-- Sidebar: content -->
  <div class="sidebar_in">
    <div class="logo">
      <a routerLink="/">
        <img src="assets/img/logo.png" alt="SAHIL SETA" />
      </a>
    </div>
    <div class="navigation">
      <ul class="anchor_nav">
        <li class="current"><a href="#about">Home</a></li>
        <li><a href="#biography">Biography</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#service">Services</a></li>
        <li><a href="#customer">Customers</a></li>
        <li><a href="#blog">News &amp; Tips</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
    <div class="copyright">
      <div class="social">
        <ul>
          <li><a href="#"><img src="assets/svg/social/twitter.svg" alt="" class="fn__svg" /></a></li>
          <li><a href="#"><img src="assets/svg/social/facebook.svg" alt="" class="fn__svg" /></a></li>
          <li><a href="#"><img src="assets/svg/social/instagram.svg" alt="" class="fn__svg" /></a></li>
          <li><a href="#"><img src="assets/svg/social/pinterest.svg" alt="" class="fn__svg" /></a></li>
          <li><a href="#"><img src="assets/svg/social/youtube.svg" alt="" class="fn__svg" /></a></li>
        </ul>
      </div>
      <div class="desc">
        <p>© 2022 Sahil Seta</p>
      </div>
    </div>
  </div>
  <!-- Sidebar: content -->



</div>
<div class="rewall_fn_mobilemenu_wrap">
  <!-- LOGO & HAMBURGER -->
  <div class="logo_hamb">
   <div class="in">
    <div class="menu_logo">
     <a routerLink="/"><img src="assets/img/logo.png" alt="SAHIL SETA" class="mobile-logo" /></a>
    </div>
    <div class="hamburger hamburger--collapse-r">
     <div class="hamburger-box">
          <div class="hamburger-inner"></div>
     </div>
    </div>
  </div>
  </div>
  <!-- /LOGO & HAMBURGER -->
  <!-- MOBILE DROPDOWN MENU -->
  <div class="mobilemenu">
  <div>
   <ul class="anchor_nav vert_menu_list">
     <li class="current"><a href="#about">Home</a></li>
     <li><a href="#biography">Biography</a></li>
     <li><a href="#portfolio">Portfolio</a></li>
     <li><a href="#service">Services</a></li>
     <li><a href="#customer">Customers</a></li>
     <li><a href="#blog">News &amp; Tips</a></li>
     <li><a href="#contact">Contact</a></li>
   </ul>
   </div>
  </div>
  <!-- /MOBILE DROPDOWN MENU -->
</div>
