<div class="rewall_fn_content">
  <div class="fn__page">


    <!-- About Section -->
    <section class="about" id="about">

      <!-- About Modern Shortcode -->
      <div class="fn_cs_about_modern">
        <div class="container">
          <div class="row">

            <div class="left_part">
              <div class="left_in" id="scene">
                <div class="layer border" data-depth="0.2">
                  <span class="span1"></span>
                  <span class="span2"></span>
                  <img src="assets/img/thumb/450-550.jpg" alt="">
                </div>
                <div class="img_holder layer" data-depth="0.3">
                  <img src="assets/img/thumb/450-550.jpg" alt="">
                  <div class="abs_img" data-bg-img="img/about.jpg"></div>
                </div>
                <div class="dots layer" data-switch="disable" data-depth="0.4">
                </div>
              </div>
            </div>

            <div class="right_part">

              <!-- Main Title -->
              <div class="main_title">
                <h3>Website Developer</h3>
                <p>Founder of Perfect Infoways, Professional Web designer and JavaScript developer based on India <span class="flag"><img src="assets/img/india.png" alt="Indian Software developer" /></span>.  <br>Sometimes works as a freelancer.</p>
                <img src="assets/img/signature.png" alt="" />
              </div>
              <!-- /Main Title -->

            </div>

          </div>
        </div>
      </div>
      <!-- About Modern Shortcode -->

    </section>
    <!-- /About Section -->


    <!-- Scroll to next section -->
    <div class="fn__next_section">
      <div class="container"><span></span></div>
      <a href="#">
        <img src="assets/svg/right-arrow.svg" alt="" class="fn__svg" />
        <span class="fn__tooltip">Double click to scroll the screen to previous section</span>
      </a>
    </div>
    <!-- /Scroll to next section -->

    <!-- Biography Section -->
    <section class="biography" id="biography">

      <!-- Main Title -->
      <div class="main_title center">
        <div class="container max880">
          <h3>Biography</h3>
          <p>I'm a Freelancer Front-end Developer with over 04 years of experience. I'm from Gujarat, India. I code and create web elements for amazing people around the world. I like work with new people. New people are new experiences.</p>
        </div>
      </div>
      <!-- /Main Title -->


      <!-- Info Items -->
      <div class="fn_cs_info_items">
        <div class="container">
          <div class="row">

            <ul>
              <li class="wow fadeInUp shadow" data-wow-delay="0s"><p>Name: <span>Sahil Seta</span></p></li>
              <li class="wow fadeInUp shadow" data-wow-delay="0.15s"><p>Birthday: <span>January 22, 1999</span></p></li>
              <li class="wow fadeInUp shadow" data-wow-delay="0.3s"><p>Age: <span>22 Years</span></p></li>
              <li class="wow fadeInUp shadow" data-wow-delay="0.45s"><p>Adress: <span>Junagadh, Gujarat, India - 362001.</span></p></li>
              <li class="wow fadeInUp shadow" data-wow-delay="0.6s"><p>Phone: <span><a href="tel:+917600122030">(+91) 7600 12 2030</a></span></p></li>
              <li class="wow fadeInUp shadow" data-wow-delay="0.75s"><p>Skype: <span>sahilseta</span></p></li>
              <li class="wow fadeInUp shadow" data-wow-delay="0.9s"><p>Email: <span><a href="mailto:sahilseta1@gmail.com">sahilseta1@gmail.com</a></span></p></li>
              <li class="wow fadeInUp shadow" data-wow-delay="1.05s"><p>LinkedIn: <span><a href="https://www.linkedin.com/in/sahil-seta-171899199/" target="_blank">Available</a></span></p></li>
            </ul>

          </div>
        </div>
      </div>
      <!-- /Info Items -->


      <!-- Download CV Button -->
      <div class="fn_cs_cv_btn">
        <div class="container">
          <span class="line top_hover"></span>
          <span class="line bottom_hover"></span>
          <span class="line top"></span>
          <span class="line bottom"></span>
          <a href="assets/RESUME-SAHILSETA.pdf" download>
            <span class="icon">
              <img src="assets/svg/inbox.svg" alt="" class="fn__svg" />
              <img src="assets/svg/arrow.svg" alt="" class="fn__svg arrow" />
            </span>
            <span>Download CV</span>
          </a>
        </div>
      </div>
      <!-- /Download CV Button -->


      <!-- Tabs Shortcode -->
      <div class="fn_cs_tabs">
        <div class="container max880">
          <div class="row">

            <!-- Tab: Header -->
            <div class="tab_header">
              <ul>
                <li class="active"><a href="#tab1">Experience</a></li>
                <li><a href="#tab2">Education</a></li>
                <li><a href="#tab3">Skills</a></li>
              </ul>
            </div>
            <!-- /Tab: Header -->

            <!-- Tab: Content -->
            <div class="tab_content">

              <!-- #1 tab content -->
              <div id="tab1" class="tab_item active">

                <!-- Boxed List -->
                <div class="fn_cs_boxed_list">
                  <ul>
                    <li>
                      <div class="item">
                        <div class="item_top">
                          <h5>Shreeva Softech Innovations Pvt. Ltd.</h5>
                          <span>( 2021 — Today )</span>
                        </div>
                        <h3>Software Developer</h3>
                        <p>Responsible for creating Web Apps using Angular, ReactJS, Firebase, NodeJS, MongoDB and Google Cloud Platform.</p>
                      </div>
                    </li>
                    <li>
                      <div class="item">
                        <div class="item_top">
                          <h5>Alice Technocrats</h5>
                          <span>( 2020 — 2021 )</span>
                        </div>
                        <h3>Software Developer</h3>
                        <p>Responsible for creating Web Apps using Angular, ReactJS, NodeJS and MongoDB. </p>
                      </div>
                    </li>
                    <li>
                      <div class="item">
                        <div class="item_top">
                          <h5>Noble Digi Ventures</h5>
                          <span>( 2019 — 2020 )</span>
                        </div>
                        <h3>Web Developer</h3>
                        <p>Responsible for creating Web sites using WordPress, PHP, CodeIgniter, HTML5, JS, CSS, FlexBox etc. </p>
                      </div>
                    </li>
                    <li>
                      <div class="item">
                        <div class="item_top">
                          <h5>Jannat Tech</h5>
                          <span>( 2019 — 2020 )</span>
                        </div>
                        <h3>WordPress Developer</h3>
                        <p>Responsible for creating custom Web sites using WordPress.</p>
                      </div>
                    </li>
                  </ul>
                </div>
                <!-- /Boxed List -->

              </div>
              <!-- /#1 tab content -->

              <!-- #2 tab content -->
              <div id="tab2" class="tab_item">

                <!-- Boxed List -->
                <div class="fn_cs_boxed_list">
                  <ul>
                    <li>
                      <div class="item">
                        <div class="item_top">
                          <h5>Ruparel Education</h5>
                          <span>( 2016 — 2019 )</span>
                        </div>
                        <h3>Computer Science</h3>
                        <p>Successfully Completed Computer Science course. </p>
                      </div>
                    </li>
                    <li>
                      <div class="item">
                        <div class="item_top">
                          <h5>GyanBharti College of Computer Science</h5>
                          <span>( 2016 — 2019 )</span>
                        </div>
                        <h3>Bachelor Degree</h3>
                        <p>Completed Bachelors in Computer Applications with Distinction and 3rd Rank in College. </p>
                      </div>
                    </li>
                  </ul>
                </div>
                <!-- /Boxed List -->

              </div>
              <!-- /#2 tab content -->

              <!-- #3 tab content -->
              <div id="tab3" class="tab_item">

                <!-- Progress Bar -->
                <div class="fn_cs_progress_bar">

                  <div class="progress_item" data-value="98">
                    <div class="item_in">
                      <h3 class="progress_title">Angular</h3>
                      <span class="progress_percent"></span>
                      <div class="progress_bg"></div>
                    </div>
                  </div>

                  <div class="progress_item" data-value="99">
                    <div class="item_in">
                      <h3 class="progress_title">HTML5 &amp; CSS3</h3>
                      <span class="progress_percent"></span>
                      <div class="progress_bg"></div>
                    </div>
                  </div>

                  <div class="progress_item" data-value="80">
                    <div class="item_in">
                      <h3 class="progress_title">NodeJS - ReactJS</h3>
                      <span class="progress_percent"></span>
                      <div class="progress_bg"></div>
                    </div>
                  </div>

                  <div class="progress_item" data-value="85">
                    <div class="item_in">
                      <h3 class="progress_title">WordPress - CodeIgniter</h3>
                      <span class="progress_percent"></span>
                      <div class="progress_bg"></div>
                    </div>
                  </div>

                </div>
                <!-- /Progress Bar -->

                <!-- Description -->
                <div class="fn_cs_desc">
                  <p>A freelance creative designer with a love for minimal design, clean typography and well-written code, located in India. Provide high quality and cost effective offshore web and software development services. Wide range of web and software development services across the world.</p>
                </div>

              </div>
              <!-- /#2 tab content -->

            </div>
            <!-- /Tab: Content -->

          </div>
        </div>
      </div>
      <!-- /Tabs Shortcode -->

    </section>
    <!-- /Biography Section -->

    <!-- Scroll to next section -->
    <div class="fn__next_section">
      <div class="container"><span></span></div>
      <a href="#">
        <img src="assets/svg/right-arrow.svg" alt="" class="fn__svg" />
        <span class="fn__tooltip">Double click to scroll the screen to previous section</span>
      </a>
    </div>
    <!-- /Scroll to next section -->

    <!-- Portfolio Section -->
    <section class="portfolio" id="portfolio">

      <!-- Main Title -->
      <div class="main_title center">
        <div class="container max880">
          <h3>Portfolio</h3>
          <p>Now, I’m working on a professional, visually sophisticated and technologically proficient, responsive and multi-functional projects. If you are interested to work with me, click below button and contact with me right now, so we can talk about your project.</p>
          <div class="main_button">
            <a href="#contact">If you are interested, Get in Touch With Me</a>
          </div>
        </div>
      </div>
      <!-- /Main Title -->

      <div class="portfolio_list">
        <div class="container">
          <ul class="fn__masonry gallery_zoom">

            <li class="masonry_in">
              <div class="item">
                <div class="title_holder">
                  <h3><a class="fn__link zoom" href="assets/img/portfolio/1.jpg" data-title="Smashing Magazine Print">Smashing Magazine Print</a></h3>
                  <p>illustration, design</p>
                </div>

                <div class="img_holder">
                  <a class="zoom" href="assets/img/portfolio/1.jpg" data-title="Smashing Magazine Print"></a>
                  <img src="assets/img/thumb/square.jpg" alt="">
                  <div class="abs_img" data-bg-img="img/portfolio/1.jpg"></div>
                </div>
              </div>
            </li>

            <li class="masonry_in">
              <div class="item">
                <div class="title_holder">
                  <h3><a class="fn__link zoom" href="assets/img/portfolio/2.jpg" data-title="Revolution Book">Revolution Book</a></h3>
                  <p>illustration, design</p>
                </div>

                <div class="img_holder">
                  <a class="zoom" href="assets/img/portfolio/2.jpg" data-title="Revolution Book"></a>
                  <img src="assets/img/thumb/square.jpg" alt="">
                  <div class="abs_img" data-bg-img="img/portfolio/2.jpg"></div>
                </div>
              </div>
            </li>

            <li class="masonry_in">
              <div class="item">
                <div class="title_holder">
                  <h3><a class="fn__link zoom" href="assets/img/portfolio/3.jpg" data-title="Dreamers Logo">Dreamers Logo</a></h3>
                  <p>illustration, design</p>
                </div>

                <div class="img_holder">
                  <a class="zoom" href="assets/img/portfolio/3.jpg" data-title="Dreamers Logo"></a>
                  <img src="assets/img/thumb/square.jpg" alt="">
                  <div class="abs_img" data-bg-img="img/portfolio/3.jpg"></div>
                </div>
              </div>
            </li>

            <li class="masonry_in">
              <div class="item">
                <div class="title_holder">
                  <h3><a class="fn__link zoom" href="assets/img/portfolio/4.jpg" data-title="Reductive Design">Reductive Design</a></h3>
                  <p>illustration, design</p>
                </div>

                <div class="img_holder">
                  <a class="zoom" href="https://frenify.net/envato/frenify/html/rewalll/img/portfolio/4.jpg" data-title="Reductive Design"></a>
                  <img src="https://frenify.net/envato/frenify/html/rewalll/img/thumb/square.jpg" alt="">
                  <div class="abs_img" data-bg-img="https://frenify.net/envato/frenify/html/rewalll/img/portfolio/4.jpg"></div>
                </div>
              </div>
            </li>


          </ul>
        </div>
      </div>


    </section>
    <!-- /Portfolio Section -->


    <!-- Scroll to next section -->
    <div class="fn__next_section">
      <div class="container"><span></span></div>
      <a href="#">
        <img src="assets/svg/right-arrow.svg" alt="" class="fn__svg" />
        <span class="fn__tooltip">Double click to scroll the screen to previous section</span>
      </a>
    </div>
    <!-- /Scroll to next section -->

    <!-- Service Section -->
    <section class="service" id="service">

      <!-- Main Title -->
      <div class="main_title center">
        <div class="container max880">
          <h3>Services</h3>
          <p>I help ambitious businesses like yours generate more profits by building awareness, driving web traffic, connecting with customers and growing overall sales. My only working rule is that I don't work through agencies, I prefer to communicate directly with clients.</p>
        </div>
      </div>
      <!-- /Main Title -->

      <!-- Boxed List -->
      <div class="fn_cs_boxed_list modern">
        <div class="container max1020">
          <ul>
            <li class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0s">
              <div class="item">
                <div class="badge">
                  <p>Starts From</p>
                  <h5>$500</h5>
                </div>
                <h3>Web &amp; Product Design</h3>
                <p>From low-fidelity wireframing and prototyping to a final coded design. We don't just hand off static designs, but enjoy working directly in the browser (♥ CSS) as much as with design tools such a <a class="fn__link" href="https://www.figma.com/" target="_blank">Figma</a>. We use can also setup complete sites and work alongside front-end developers to provide a complete service.</p>
              </div>
            </li>
            <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
              <div class="item">
                <div class="badge">
                  <p>Starts From</p>
                  <h5>$450</h5>
                </div>
                <h3>Brand Identity</h3>
                <p>From a single logomark to <a class="fn__link" href="#">a full branding system</a>. A brand new logo may not be the answer for you, we strongly believe in refining and updating existing logos to increase effectiveness without losing brand equity.</p>
              </div>
            </li>
            <li class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.4s">
              <div class="item">
                <div class="badge">
                  <p>Starts From</p>
                  <h5>$650</h5>
                </div>
                <h3>Stunning Mobile Apps</h3>
                <p>Perfectly crafted and innovative Android, iOS, iPad, iPhone App Development Solutions.</p>
              </div>
            </li>
            <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.6s">
              <div class="item">
                <div class="badge">
                  <p>Custom</p>
                  <h5>Ask for prices!</h5>
                </div>
                <h3>Enterprise Web Application</h3>
                <p>We develop robust platforms that meet specific business goals and allow you to compete in the corporate world.</p>
              </div>
            </li>
          </ul>
        </div>

      </div>
      <!-- /Boxed List -->


    </section>
    <!-- /Service Section -->



    <!-- Scroll to next section -->
    <div class="fn__next_section">
      <div class="container"><span></span></div>
      <a href="#">
        <img src="assets/svg/right-arrow.svg" alt="" class="fn__svg" />
        <span class="fn__tooltip">Double click to scroll the screen to previous section</span>
      </a>
    </div>
    <!-- /Scroll to next section -->


    <!-- Customer Section -->
    <section class="customer" id="customer">


      <!-- Main Title -->
      <div class="main_title center">
        <div class="container max880">
          <h3>Technologies</h3>
        </div>
      </div>
      <!-- /Main Title -->

      <div class="container">
        <!-- Partners -->
        <div class="fn_cs_partners">
          <ul>
            <li><a href="#"><img src="https://frenify.net/envato/frenify/html/rewalll/img/partners/1.png" alt="" /></a></li>
            <li><a href="#"><img src="https://frenify.net/envato/frenify/html/rewalll/img/partners/2.png" alt="" /></a></li>
            <li><a href="#"><img src="https://frenify.net/envato/frenify/html/rewalll/img/partners/3.png" alt="" /></a></li>
            <li><a href="#"><img src="https://frenify.net/envato/frenify/html/rewalll/img/partners/4.png" alt="" /></a></li>
            <li><a href="#"><img src="https://frenify.net/envato/frenify/html/rewalll/img/partners/5.png" alt="" /></a></li>
            <li><a href="#"><img src="https://frenify.net/envato/frenify/html/rewalll/img/partners/6.png" alt="" /></a></li>
            <li><a href="#"><img src="https://frenify.net/envato/frenify/html/rewalll/img/partners/7.png" alt="" /></a></li>
            <li><a href="#"><img src="https://frenify.net/envato/frenify/html/rewalll/img/partners/8.png" alt="" /></a></li>
          </ul>
        </div>
        <!-- /Partners -->

        <div class="fn_cs_testimonials">
          <div class="owl-carousel owl-theme">


            <div class="item">
              <div class="icon">
                <img src="https://frenify.net/envato/frenify/html/rewalll/svg/quote.svg" alt="" class="fn__svg" />
              </div>
              <div class="title_holder">
                <div class="desc">
                  <p>They really nailed it. This is one of the best themes I have seen in a long time. Very nice design with lots of customization available. Many of my clients have chosen this theme for their portfolio sites.</p>
                </div>
                <div class="name">
                  <h3>Albert Walker</h3>
                  <p>Freelancer &amp; Designer</p>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="icon">
                <img src="https://frenify.net/envato/frenify/html/rewalll/svg/quote.svg" alt="" class="fn__svg" />
              </div>
              <div class="title_holder">
                <div class="desc">
                  <p>This was exactly what I needed for my portfolio, and it looks great. I had a couple issues that support helped troubleshoot both via email and on the comments, which definitely made it worth the price. I'm very pleased with this purchase.</p>
                </div>
                <div class="name">
                  <h3>Anna Barbera</h3>
                  <p>Photographer</p>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="icon">
                <img src="https://frenify.net/envato/frenify/html/rewalll/svg/quote.svg" alt="" class="fn__svg" />
              </div>
              <div class="title_holder">
                <div class="desc">
                  <p>They really nailed it. This is one of the best themes I have seen in a long time. Very nice design with lots of customization available. Many of my clients have chosen this theme for their portfolio sites.</p>
                </div>
                <div class="name">
                  <h3>Dana Atkins</h3>
                  <p>Customer</p>
                </div>
              </div>
            </div>


          </div>

          <div class="my__nav">
            <a href="#" class="prev"><img src="https://frenify.net/envato/frenify/html/rewalll/svg/right-arrow.svg" alt="" class="fn__svg" /></a>
            <a href="#" class="next"><img src="https://frenify.net/envato/frenify/html/rewalll/svg/right-arrow.svg" alt="" class="fn__svg" /></a>
          </div>
        </div>
      </div>



    </section>
    <!-- /Customer Section -->


    <!-- Scroll to next section -->
    <div class="fn__next_section">
      <div class="container"><span></span></div>
      <a href="#">
        <img src="assets/svg/right-arrow.svg" alt="" class="fn__svg" />
        <span class="fn__tooltip">Double click to scroll the screen to previous section</span>
      </a>
    </div>
    <!-- /Scroll to next section -->


    <!-- Blog Section -->
    <section class="blog" id="blog">


      <!-- Main Title -->
      <div class="main_title center">
        <div class="container max880">
          <h3>News &amp; Tips</h3>
        </div>
      </div>
      <!-- /Main Title -->


      <div class="container">
        <!-- Blog List -->
        <div class="blog_list">
          <ul class="gallery_zoom">
            <li>
              <div class="item">
                <div class="left_part">
                  <div class="img_holder">
                    <a class="zoom" href="https://frenify.net/envato/frenify/html/rewalll/img/blog/1.jpg"></a>
                    <img src="https://frenify.net/envato/frenify/html/rewalll/img/thumb/square.jpg" alt="" />
                    <div class="abs_img" data-bg-img="https://frenify.net/envato/frenify/html/rewalll/img/blog/1.jpg"></div>
                  </div>
                </div>
                <div class="right_part">
                  <div class="title">
                    <h3><a class="fn__link zoom" href="https://frenify.net/envato/frenify/html/rewalll/img/blog/1.jpg">What You Know About Design &amp; What You Don't Know About Design.</a></h3>
                    <p>September 25. 2021</p>
                  </div>
                  <div class="main_button">
                    <a class="zoom" href="https://frenify.net/envato/frenify/html/rewalll/img/blog/1.jpg">Continue Reading</a>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="left_part">
                  <div class="img_holder">
                    <a class="zoom" href="https://frenify.net/envato/frenify/html/rewalll/img/blog/2.jpg"></a>
                    <img src="https://frenify.net/envato/frenify/html/rewalll/img/thumb/square.jpg" alt="" />
                    <div class="abs_img" data-bg-img="https://frenify.net/envato/frenify/html/rewalll/img/blog/2.jpg"></div>
                  </div>
                </div>
                <div class="right_part">
                  <div class="title">
                    <h3><a class="fn__link zoom" href="https://frenify.net/envato/frenify/html/rewalll/img/blog/2.jpg">What You Know About Design &amp; What You Don't Know About Design.</a></h3>
                    <p>September 25. 2021</p>
                  </div>
                  <div class="main_button">
                    <a class="zoom" href="https://frenify.net/envato/frenify/html/rewalll/img/blog/2.jpg">Continue Reading</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="be_animated">
              <div class="item">
                <div class="left_part">
                  <div class="img_holder">
                    <a class="zoom" href="https://frenify.net/envato/frenify/html/rewalll/img/blog/3.jpg"></a>
                    <img src="https://frenify.net/envato/frenify/html/rewalll/img/thumb/square.jpg" alt="" />
                    <div class="abs_img" data-bg-img="https://frenify.net/envato/frenify/html/rewalll/img/blog/3.jpg"></div>
                  </div>
                </div>
                <div class="right_part">
                  <div class="title">
                    <h3><a class="fn__link zoom" href="https://frenify.net/envato/frenify/html/rewalll/img/blog/3.jpg">What You Know About Design &amp; What You Don't Know About Design.</a></h3>
                    <p>September 25. 2021</p>
                  </div>
                  <div class="main_button">
                    <a class="zoom" href="https://frenify.net/envato/frenify/html/rewalll/img/blog/3.jpg">Continue Reading</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="be_animated">
              <div class="item">
                <div class="left_part">
                  <div class="img_holder">
                    <a class="zoom" href="https://frenify.net/envato/frenify/html/rewalll/img/blog/4.jpg"></a>
                    <img src="https://frenify.net/envato/frenify/html/rewalll/img/thumb/square.jpg" alt="" />
                    <div class="abs_img" data-bg-img="https://frenify.net/envato/frenify/html/rewalll/img/blog/4.jpg"></div>
                  </div>
                </div>
                <div class="right_part">
                  <div class="title">
                    <h3><a class="fn__link zoom" href="https://frenify.net/envato/frenify/html/rewalll/img/blog/4.jpg">What You Know About Design &amp; What You Don't Know About Design.</a></h3>
                    <p>September 25. 2021</p>
                  </div>
                  <div class="main_button">
                    <a class="zoom" href="https://frenify.net/envato/frenify/html/rewalll/img/blog/4.jpg">Continue Reading</a>
                  </div>
                </div>
              </div>
            </li>
          </ul>

          <div class="clearfix"></div>

          <div class="load_more">
            <a href="#" data-initial="Load More" data-loading="Loading..." data-done="Done" data-no="No more items found">
              <span class="text">Load More</span>
              <span class="icon"></span>
            </a>
          </div>

        </div>
        <!-- /Blog List -->
      </div>

    </section>
    <!-- /Blog Section -->


    <!-- Scroll to next section -->
    <div class="fn__next_section">
      <div class="container"><span></span></div>
      <a href="#">
        <img src="assets/svg/right-arrow.svg" alt="" class="fn__svg" />
        <span class="fn__tooltip">Double click to scroll the screen to previous section</span>
      </a>
    </div>
    <!-- /Scroll to next section -->


    <!-- Contact Section -->
    <section class="contact" id="contact">

      <!-- Main Title -->
      <div class="main_title center">
        <div class="container max880">
          <h3>Contact</h3>
        </div>
      </div>
      <!-- /Main Title -->

      <!-- Contact -->
      <div class="rewall_fn_contact">
        <div class="container max880">

          <!-- Contact Form -->
          <form class="contact_form" action="https://frenify.net/" method="post" autocomplete="off" data-email="frenifyteam@gmail.com">

            <!--
               Don't remove below code in avoid to work contact form properly.
              You can chance dat-success value with your one. It will be used when user will try to contact via contact form and will get success message.
            -->
            <div class="success" data-success="Your message has been received, we will contact you soon."></div>
            <div class="empty_notice"><span>Please Fill Required Fields!</span></div>
            <!-- -->

            <div class="items_wrap">
              <div class="items">
                <div class="item half">
                  <div class="input_wrapper">
                    <input id="name" type="text" />
                    <span class="moving_placeholder">Name *</span>
                  </div>
                </div>
                <div class="item half">
                  <div class="input_wrapper">
                    <input id="email" type="email" />
                    <span class="moving_placeholder">Email *</span>
                  </div>
                </div>
                <div class="item">
                  <div class="input_wrapper">
                    <input id="phone" type="phone" />
                    <span class="moving_placeholder">Phone</span>
                  </div>
                </div>
                <div class="item">
                  <div class="input_wrapper">
                    <textarea id="message"></textarea>
                    <span class="moving_placeholder">Message</span>
                  </div>
                </div>
                <div class="item">
                  <a id="send_message" href="#">Send Message</a>
                </div>
              </div>
            </div>
          </form>
          <!-- /Contact Form -->


          <!-- Contact Info -->
          <div class="fn_cs_contact_info">
            <p>Address</p>
            <h3><span class="flag"><img src="assets/img/india.png" alt="Indian Software developer" /></span> India </h3>
            <p>Phone</p>
            <h3><a href="tel:+917600122030">+91 76001 22030</a></h3>
            <p><a class="fn__link" href="mailto:sahilseta1@gmail.com"><span class="__cf_email__" data-cfemail="036571666d6a657a7766626e43646e626a6f2d606c6e">[email&#160;protected]</span></a></p>
          </div>
          <!-- /Contact Info -->


        </div>
      </div>
      <!-- /Contact -->

    </section>
    <!-- /Contact Section -->


  </div>
</div>
