
<!-- Wrapper All -->
<div class="rewall_fn_wrapper_all" data-nav-skin="transdark">

	<!-- Wrapper -->
	<div class="rewall_fn_wrapper">





		<!-- Color Scheme -->
		<div class="rewall_fn_color_scheme">
			<a class="opener" href="#">
				<img src="assets/svg/color.svg" alt="" class="fn__svg" />
			</a>
			<div class="color_box">
				<a href="#" class="closer">
					<img src="assets/svg/cancel.svg" alt="" class="fn__svg" />
				</a>
				<ul>
					<li class="item">
						<h5>Online clothing store</h5>
						<ul>
							<li><a href="#" data-color="#5d6e99"></a></li>
							<li><a href="#" data-color="#b18780"></a></li>
							<li><a href="#" data-color="#605e2d"></a></li>
							<li><a href="#" data-color="#7c554e"></a></li>
							<li><a href="#" data-color="#f4988b"></a></li>
							<li><a href="#" data-color="#dfc1b6"></a></li>
							<li><a href="#" data-color="#c77fb1"></a></li>
							<li><a href="#" data-color="#a9aa71"></a></li>
							<li><a href="#" data-color="#96939c"></a></li>
							<li><a href="#" data-color="#f36b51"></a></li>
						</ul>
					</li>
					<li class="item">
						<h5>Website for women's clothing, accessories and jewelry store</h5>
						<ul>
							<li><a href="#" data-color="#3e1c1d"></a></li>
							<li><a href="#" data-color="#694141"></a></li>
							<li><a href="#" data-color="#532c27"></a></li>
							<li><a href="#" data-color="#7b5650"></a></li>
							<li><a href="#" data-color="#2d1012"></a></li>
							<li><a href="#" data-color="#92665d"></a></li>
							<li><a href="#" data-color="#a9806e"></a></li>
							<li><a href="#" data-color="#c29d83"></a></li>
							<li><a href="#" data-color="#710e3d"></a></li>
							<li><a href="#" data-color="#96285b"></a></li>
						</ul>
					</li>
					<li class="item">
						<h5>Wedding salon website</h5>
						<ul>
							<li><a href="#" data-color="#e397b1"></a></li>
							<li><a href="#" data-color="#ce7d7a"></a></li>
							<li><a href="#" data-color="#a58264"></a></li>
							<li><a href="#" data-color="#600b28"></a></li>
							<li><a href="#" data-color="#5e2c21"></a></li>
							<li><a href="#" data-color="#e8d5c1"></a></li>
							<li><a href="#" data-color="#3c0f12"></a></li>
							<li><a href="#" data-color="#b47f77"></a></li>
							<li><a href="#" data-color="#634352"></a></li>
							<li><a href="#" data-color="#11131f"></a></li>
						</ul>
					</li>
					<li class="item">
						<h5>Website on the topic of cars</h5>
						<ul>
							<li><a href="#" data-color="#0d0208"></a></li>
							<li><a href="#" data-color="#170b19"></a></li>
							<li><a href="#" data-color="#3a0f18"></a></li>
							<li><a href="#" data-color="#661615"></a></li>
							<li><a href="#" data-color="#181c39"></a></li>
							<li><a href="#" data-color="#1a344f"></a></li>
							<li><a href="#" data-color="#0d4d66"></a></li>
							<li><a href="#" data-color="#09637e"></a></li>
							<li><a href="#" data-color="#0b89a0"></a></li>
							<li><a href="#" data-color="#0fa5c0"></a></li>
						</ul>
					</li>
					<li class="item">
						<h5>Entertainment website</h5>
						<ul>
							<li><a href="#" data-color="#c851ad"></a></li>
							<li><a href="#" data-color="#ac3a9c"></a></li>
							<li><a href="#" data-color="#682374"></a></li>
							<li><a href="#" data-color="#60226f"></a></li>
							<li><a href="#" data-color="#7f78ac"></a></li>
							<li><a href="#" data-color="#4c8ca8"></a></li>
							<li><a href="#" data-color="#7354b1"></a></li>
							<li><a href="#" data-color="#151a75"></a></li>
							<li><a href="#" data-color="#4b1549"></a></li>
							<li><a href="#" data-color="#2c0929"></a></li>
						</ul>
					</li>
					<li class="item">
						<h5>Home Decor Shop</h5>
						<ul>
							<li><a href="#" data-color="#4f4232"></a></li>
							<li><a href="#" data-color="#f3d9b6"></a></li>
							<li><a href="#" data-color="#afc15d"></a></li>
							<li><a href="#" data-color="#8e4c29"></a></li>
							<li><a href="#" data-color="#250c08"></a></li>
							<li><a href="#" data-color="#f6ba88"></a></li>
							<li><a href="#" data-color="#f59e82"></a></li>
							<li><a href="#" data-color="#421b0c"></a></li>
							<li><a href="#" data-color="#af9a7d"></a></li>
							<li><a href="#" data-color="#242408"></a></li>
						</ul>
					</li>
					<li class="item">
						<h5>Photographer's site</h5>
						<ul>
							<li><a href="#" data-color="#673b28"></a></li>
							<li><a href="#" data-color="#77482c"></a></li>
							<li><a href="#" data-color="#49271e"></a></li>
							<li><a href="#" data-color="#795d48"></a></li>
							<li><a href="#" data-color="#916a41"></a></li>
							<li><a href="#" data-color="#301615"></a></li>
							<li><a href="#" data-color="#92785f"></a></li>
							<li><a href="#" data-color="#dfd3d3"></a></li>
							<li><a href="#" data-color="#c8b7af"></a></li>
							<li><a href="#" data-color="#ae9883"></a></li>
						</ul>
					</li>
					<li class="item">
						<h5>Sports website</h5>
						<ul>
							<li><a href="#" data-color="#12151a"></a></li>
							<li><a href="#" data-color="#2b2219"></a></li>
							<li><a href="#" data-color="#024387"></a></li>
							<li><a href="#" data-color="#9fa792"></a></li>
							<li><a href="#" data-color="#907608"></a></li>
							<li><a href="#" data-color="#121e1a"></a></li>
							<li><a href="#" data-color="#200f08"></a></li>
							<li><a href="#" data-color="#730101"></a></li>
							<li><a href="#" data-color="#574c1e"></a></li>
							<li><a href="#" data-color="#3e3e36"></a></li>
						</ul>
					</li>
					<li class="item">
						<h5>Restaurant website</h5>
						<ul>
							<li><a href="#" data-color="#e8c992"></a></li>
							<li><a href="#" data-color="#dda742"></a></li>
							<li><a href="#" data-color="#db901b"></a></li>
							<li><a href="#" data-color="#e08f02"></a></li>
							<li><a href="#" data-color="#c66507"></a></li>
							<li><a href="#" data-color="#b07857"></a></li>
							<li><a href="#" data-color="#aa2c05"></a></li>
							<li><a href="#" data-color="#7d1d07"></a></li>
							<li><a href="#" data-color="#450f03"></a></li>
							<li><a href="#" data-color="#371001"></a></li>
						</ul>
					</li>
					<li class="item">
						<h5>Real estate website</h5>
						<ul>
							<li><a href="#" data-color="#b97d47"></a></li>
							<li><a href="#" data-color="#d5c697"></a></li>
							<li><a href="#" data-color="#888365"></a></li>
							<li><a href="#" data-color="#624a25"></a></li>
							<li><a href="#" data-color="#a74c1d"></a></li>
							<li><a href="#" data-color="#ef8b50"></a></li>
							<li><a href="#" data-color="#9ca816"></a></li>
							<li><a href="#" data-color="#7c8824"></a></li>
							<li><a href="#" data-color="#596c10"></a></li>
							<li><a href="#" data-color="#363112"></a></li>
						</ul>
					</li>
					<li class="item">
						<h5>Medical website</h5>
						<ul>
							<li><a href="#" data-color="#0d0a11"></a></li>
							<li><a href="#" data-color="#262431"></a></li>
							<li><a href="#" data-color="#575c6f"></a></li>
							<li><a href="#" data-color="#a7a7b1"></a></li>
							<li><a href="#" data-color="#d7d1db"></a></li>
							<li><a href="#" data-color="#babfd2"></a></li>
							<li><a href="#" data-color="#a1b9d5"></a></li>
							<li><a href="#" data-color="#869dd1"></a></li>
							<li><a href="#" data-color="#5576ac"></a></li>
							<li><a href="#" data-color="#133167"></a></li>
							<li><a href="#" data-color="#132017"></a></li>
							<li><a href="#" data-color="#1d8a6b"></a></li>
							<li><a href="#" data-color="#4e7c60"></a></li>
							<li><a href="#" data-color="#689a81"></a></li>
							<li><a href="#" data-color="#255641"></a></li>
							<li><a href="#" data-color="#97c8b3"></a></li>
							<li><a href="#" data-color="#d5e0d0"></a></li>
							<li><a href="#" data-color="#5a4b24"></a></li>
							<li><a href="#" data-color="#4ab89d"></a></li>
							<li><a href="#" data-color="#a18e63"></a></li>
						</ul>
					</li>
					<li class="item">
						<h5>Travel agency website</h5>
						<ul>
							<li><a href="#" data-color="#e4e0dd"></a></li>
							<li><a href="#" data-color="#1a9ca9"></a></li>
							<li><a href="#" data-color="#e77992"></a></li>
							<li><a href="#" data-color="#40333a"></a></li>
							<li><a href="#" data-color="#97b6cb"></a></li>
							<li><a href="#" data-color="#6388a2"></a></li>
							<li><a href="#" data-color="#b1c1ce"></a></li>
							<li><a href="#" data-color="#7bc8dc"></a></li>
							<li><a href="#" data-color="#a5c3db"></a></li>
							<li><a href="#" data-color="#57c2d4"></a></li>
						</ul>
					</li>
					<li class="item">
						<h5>Business website</h5>
						<ul>
							<li><a href="#" data-color="#efb38e"></a></li>
							<li><a href="#" data-color="#8a5d4a"></a></li>
							<li><a href="#" data-color="#fef3d5"></a></li>
							<li><a href="#" data-color="#9a563f"></a></li>
							<li><a href="#" data-color="#aea5a0"></a></li>
							<li><a href="#" data-color="#943014"></a></li>
							<li><a href="#" data-color="#253d49"></a></li>
							<li><a href="#" data-color="#48312b"></a></li>
							<li><a href="#" data-color="#e5c7ad"></a></li>
							<li><a href="#" data-color="#"></a></li>
							<li><a href="#" data-color="#beb8ac"></a></li>
							<li><a href="#" data-color="#697569"></a></li>
							<li><a href="#" data-color="#203331"></a></li>
							<li><a href="#" data-color="#b82921"></a></li>
							<li><a href="#" data-color="#ee3834"></a></li>
							<li><a href="#" data-color="#732c30"></a></li>
							<li><a href="#" data-color="#050601"></a></li>
							<li><a href="#" data-color="#3a261d"></a></li>
							<li><a href="#" data-color="#746756"></a></li>
							<li><a href="#" data-color="#8c7b71"></a></li>
							<li><a href="#" data-color="#0f2936"></a></li>
							<li><a href="#" data-color="#5b737f"></a></li>
							<li><a href="#" data-color="#d1f3ff"></a></li>
							<li><a href="#" data-color="#b3d3fc"></a></li>
							<li><a href="#" data-color="#4870a3"></a></li>
							<li><a href="#" data-color="#19375b"></a></li>
							<li><a href="#" data-color="#142132"></a></li>
							<li><a href="#" data-color="#020a17"></a></li>
							<li><a href="#" data-color="#18192e"></a></li>
							<li><a href="#" data-color="#333a57"></a></li>
						</ul>
					</li>
					<li class="item">
						<h5>Lawyer website</h5>
						<ul>
							<li><a href="#" data-color="#948d95"></a></li>
							<li><a href="#" data-color="#d2d2c6"></a></li>
							<li><a href="#" data-color="#55566b"></a></li>
							<li><a href="#" data-color="#8d98ac"></a></li>
							<li><a href="#" data-color="#dfccbd"></a></li>
							<li><a href="#" data-color="#6a5751"></a></li>
							<li><a href="#" data-color="#40050b"></a></li>
							<li><a href="#" data-color="#ebe8df"></a></li>
							<li><a href="#" data-color="#50401e"></a></li>
							<li><a href="#" data-color="#224622"></a></li>
						</ul>
					</li>
					<li class="item">
						<h5>Online electronics store</h5>
						<ul>
							<li><a href="#" data-color="#d8ab2a"></a></li>
							<li><a href="#" data-color="#e7b731"></a></li>
							<li><a href="#" data-color="#cc9926"></a></li>
							<li><a href="#" data-color="#1b140a"></a></li>
							<li><a href="#" data-color="#875e32"></a></li>
							<li><a href="#" data-color="#ebc443"></a></li>
							<li><a href="#" data-color="#ac801d"></a></li>
							<li><a href="#" data-color="#4e341b"></a></li>
							<li><a href="#" data-color="#ac815e"></a></li>
							<li><a href="#" data-color="#caa13d"></a></li>
							<li><a href="#" data-color="#272027"></a></li>
							<li><a href="#" data-color="#1d1419"></a></li>
							<li><a href="#" data-color="#826583"></a></li>
							<li><a href="#" data-color="#2f111b"></a></li>
							<li><a href="#" data-color="#3e2137"></a></li>
							<li><a href="#" data-color="#523e4a"></a></li>
							<li><a href="#" data-color="#4d6895"></a></li>
							<li><a href="#" data-color="#6ec9e4"></a></li>
							<li><a href="#" data-color="#2d2f46"></a></li>
							<li><a href="#" data-color="#334867"></a></li>
						</ul>
					</li>
				</ul>
				<div class="info">
					<div class="current"></div>
					-
					<div class="total"></div>
				</div>
				<div class="my__nav">
					<a href="#" class="prev"><img src="assets/svg/right-arrow.svg" alt="" class="fn__svg" /></a>
					<a href="#" class="next"><img src="assets/svg/right-arrow.svg" alt="" class="fn__svg" /></a>
				</div>
			</div>
		</div>
		<!-- /Color Scheme -->


		<!-- Left Sidebar -->
		<!-- You can set up minimum and maximum width for sidebar (in px). Minimum width is 350 -->
    <app-header></app-header>
		<!-- /Left Sidebar -->




		<!-- Main Content -->

    <router-outlet></router-outlet>
		<!-- Main Content -->

	</div>
	<!-- /Wrapper -->

</div>
<!-- /Wrapper All -->
